@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.widget {
    position: relative;
    width: 290px;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.3);
    }

    .widget__plane__img {
        width: 180px;
        height: 200px;
        opacity: 0.15;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -90px;
        margin-left: -90px;
    }
}

.widget__menu {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 20px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
        span {
            background-color: rgb(255, 255, 255, 0.6);
        }
    }
    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255, 0.4);
        transition: all 0.3s ease-in-out;
    }
}

.widget__btns {
    position: absolute;
    left: 1px;
    top: 18px;
    transition: all 0.5s ease-in-out;
    
    .widget__btns__set {
        top: 7px;
        left: 290px;
        width: 26px;
        height: 28px;
        position: absolute;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s;
        background-image: url(./../../../assets/img/png/setting_icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;
        &:hover {
            cursor: pointer;
            width: 28px;
            height: 30px;
            top: 6px;
            left: 289px;
        }
        :active {
            width: 30px;
        }
    }
    .widget__btns__del {
        opacity: 1;
        top: 42px;
        left: 292px;
        width: 20px;
        height: 28px;
        opacity: 0.8;
        position: absolute;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s;
        background-image: url(./../../../assets/img/png/bin.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;
        &:hover {
            cursor: pointer;
            top: 41px;
            left: 291px;
            width: 22px;
            height: 30px;
            opacity: 1;
        }
        :active {
            width: 30px;
        }
    }
}

.widget__cross__img {
    margin-top: 45px;
    margin-left: 95px;

    width: 100px;
    height: 100px;
}

.widget__data__value {
    text-align: center;
    color: rgb(255, 255, 255, 0.8);
    font-family: Manrope;
    font-size: 20px;
    line-height: 28px;
    margin: 0px auto;
}

.widget__data__engines {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
}

.engine {
    height: 45px;
    display: flex;
    align-items: center;

    img {
        width: 40px;
        height: 30px;
        opacity: 1;
    }

    span {
        color: rgb(255, 255, 255, 0.8);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        margin-left: 10px;
    }
}
