.button {
    background-color: #ffffff;
    border-radius: 24px;
    height: 38px;
    width: 120px;
    color: #0A2640;
    font-size: 16px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    border: none;
    transition: all 0.3s;

    //  border: #0a2640 2px solid;
    &:hover {
        cursor: pointer;
    }

    &.button__green {
        background: linear-gradient(90deg, #58cf92, #7cffbb, #58cf92, #58cf92);
        border: #58cf92 2px solid;
        background-size: 400%;
        animation: animate 8s linear infinite;

        &:hover {
            background: #ffffff;
            border: #0a2640 2px solid;
        }
    }

    @keyframes animate {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 400%;
        }
      }

    &.button__white {
        border: #0a2640 2px solid;

        &:hover {
            background-color: #0a2640;
            border: #0a2640 2px solid;
            color: #ffffff;
        }
    }

    &.button__white__dark {
        border: none;
        height: 34px;

        &:hover {
            background-color: #65e4a3;
        }
    }

    &.button__red {
        background-color: #d5393a;
        border: #d5393a 2px solid;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            ;
            border: #d5393a 2px solid;
            color: #d5393a;
        }
    }
}