.aircraftPrintForm {
    width: 1200px;
    max-height: 95vh;
    background-color: white;
    border-radius: 25px;
}

.aircraftPrintForm__content {
    display: flex;
    justify-content: center;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin-top: 50px;
}

.buttons {
    margin: 30px auto 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.componentToPrint {
    width: 800px;

    .componentToPrint__header {
        text-align: center;
        color: black;
        font-size: 14px;
        font-weight: 400;
    }

    .componentToPrint__section {
        border: 2px black solid;
        margin-top: 10px;
    }

    .componentToPrint__section__first {
        width: 800px;
        display: flex;
        justify-content: space-between;
        border: none;
        margin: 25px auto 10px;
    }

    .componentToPrint__section__block {
        border: 2px solid black;
        width: 300px;
    }

    .infoBlock {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px rgb(150, 150, 150) solid;

        .infoBlock__title {
            padding: 2px;
            width: 220px;
            font-size: 10px;
        }

        .infoBlock__value {
            font-size: 12px;
            padding: 3px;
            width: 70px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:last-child {
            border: none;
        }
    }

    .table {
        width: 800px;
        margin: 5px auto 0px;
        border: 2px black solid;
        border-collapse: collapse;
    }



    th {
        width: 90px;
        font-size: 12px;
        background: #efefef;
        border: 1px solid #dddddd;

        &:first-child {
            width: 240px;
        }

    }

    td {
        width: 90px;
        font-size: 12px;
        text-align: center;
        border: 1px solid #dddddd;

        &:first-child {
            padding-left: 2px;
            font-size: 10px;
            width: 240px;
            text-align: start;
        }
    }

    .row__bold {
        td {
            border-bottom: 2px solid black;
        }
    }

    .table tr td:first-child,
    .table tr th:first-child {
        border-left: none;
    }

    .table tr td:last-child,
    .table tr th:last-child {
        border-right: none;
    }

    .componentToPrint__tableHeader {
        margin-top: 5px;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: 700;
    }

}

@page {
    size: A4 portrait;
    margin: 10mm;
}