.widget__menu {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 20px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
        span {
            background-color: rgb(255, 255, 255, 0.6);
        }
    }
    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255, 0.4);
        transition: all 0.3s ease-in-out;
    }
}

.widget__btns {
    position: absolute;
    left: 1px;
    top: 18px;
    
    .widget__btns__set {
        top: 7px;
        left: 290px;
        width: 26px;
        height: 28px;
        position: absolute;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s;
        background-image: url(./../../assets/img/png/setting_icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;
        &:hover {
            cursor: pointer;
            width: 28px;
            height: 30px;
            top: 6px;
            left: 289px;
        }
        :active {
            width: 30px;
        }
    }
    .widget__btns__del {
        opacity: 1;
        top: 42px;
        left: 292px;
        width: 20px;
        height: 28px;
        opacity: 0.8;
        position: absolute;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s;
        background-image: url(./../../assets/img/png/bin.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;
        &:hover {
            cursor: pointer;
            top: 41px;
            left: 291px;
            width: 22px;
            height: 30px;
            opacity: 1;
        }
        :active {
            width: 30px;
        }
    }
}