button::-moz-focus-inner {
    border: none;
}

.widgetMenuContainer {
    width: 50px;
    height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
}

.widget__menu {
    top: 3px;
    right: 5px;
    height: 20px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;
    &:hover {
        cursor: pointer;

        span {
            background-color: rgb(255, 255, 255, 0.6);
        }
    }

    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255, 0.4);
        transition: all 0.3s ease-in-out;
    }
}

.widget__btns {
    top: 25px;
    left: 13px;
    height: 65px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .widget__btns__set {
        width: 26px;
        height: 28px;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s ease-in-out;
        background-image: url(./../../assets/img/png/setting_icon.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;

        &:hover {
            cursor: pointer;
            width: 28px;
            height: 30px;
        }

        :active {
            width: 30px;
        }
    }

    .widget__btns__del {
        opacity: 1;
        width: 20px;
        height: 28px;
        opacity: 0.8;
        background: none;
        top: 35px;
        margin: 0;
        padding: 0;
        border: none;
        transition: all 0.3s;
        background-image: url(./../../assets/img/png/bin.png);
        background-position: center;
        background-size: cover;
        background-repeat: noRepeat;

        &:hover {
            cursor: pointer;
            width: 22px;
            height: 30px;
            opacity: 1;
        }

        :active {
            width: 30px;
        }
    }
}