@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.aircraftForm {
    position: fixed;
    border: #0a2640 2px solid;
    background-color: #ffffff;
    border-radius: 25px;
    min-height: 420px;
    width: 800px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -210px;
    padding-bottom: 15px;
    z-index: 1;
}

.aircraftForm__header {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    font-family: Manrope;
    font-weight: 700;
}

.aircraft__form__wrap {
    display: flex;
    max-width: 760px;
    margin: 25px auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.aircraft__form__link {
    position: relative;
    height: 65px;
    width: 235px;

    label {
        margin-left: 20px;
        font-family: Manrope;
        color: #1c3d5b;

        span {
            color: red;
        }
    }
}

.aircraft__form__btns {
    margin: 35px auto 25px;
    width: 270px;
    display: flex;
    justify-content: space-between;
}