@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap');

.input {
    width: 190px;
    height: 38px;
    border: #0A2640 2px solid;
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 0 20px;
    color: #0A2640;
    font-size: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    text-align: center;

    &:hover {
        border: #2e6497 2px solid;
    }

    &:focus {
        outline: none;
        border: #2e6497 2px solid;
    }
}