.header {
    margin-top: 30px;
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 80px;
    img {
        width: 100%;
    }
}

.header__nav {
    span {
        margin-right: 20px;
        color: #ffffff;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
    }
}
