@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.header {
    position: relative;
    padding-top: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 300px;
    display: flex;
    align-items: center;

    img {
        width: 100px;
    }

    .header__logo__title {
        color: #ffffff;
        font-family: Manrope;
        margin-left: 20px;
        font-size: 24px;
    }
}

.header__nav {
    span {
        margin-right: 20px;
        color: #ffffff;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
    }
}