@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.aircrafts__container {
    max-width: 1200px;
    margin: 0 auto;
}


.aircrafts {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 70vh;
    overflow-y: auto;
    align-content: flex-start;
}

.widget {
    position: relative;
    width: 290px;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.3);
    }

    .widget__cross__img {
        margin-top: 45px;
        margin-left: 95px;
        width: 100px;
        height: 100px;
    }
}

.aircrafts__buttons {
    margin-top: 20px;
    padding: 0 20px ;
}

@media (max-width: 1200px) {
    .aircrafts {
        justify-content: center;
    }
}