@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.dataBlock {
    display: flex;
    width: 200px;
}

.dataBlock__title {
    width: 70px;
}

.dataBlock__value {
    width: 130px;
}

.dataBlock__span {
    color: #0a2640;
    font-size: 14px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
}