.signout__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Manrope";
}

.background__circle {
    background-color: #1c3d5b;
    width: 1200px;
    height: 1200px;
    border-radius: 1000px;
    position: absolute;
    top: -600px;
    right: -600px;
}

.message {
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #0a2640 1px solid;

    span {
        text-align: center;
        font-family: Manrope;
        font-size: 12px;
        color: gray;
    }
}

.message__header {
    margin-top: 30px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 32px;
}

.message__icon {
    width: 200px;
}

.message__btn {
    margin-top: 20px;
    text-decoration: none;

    background-color: #ffffff;
    border-radius: 24px;
    height: 38px;
    width: 120px;
    color: #0a2640;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    transition: all 0.3s;
    background-color: #65e4a3;
    border: #65e4a3 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #ffffff;
        border: #0a2640 2px solid;
        cursor: pointer;
    }
}