.main {
    width: 100vw;
    height: 1200px;
    background: #051d42;
}

.main__container {
    margin: 0 auto;
    width: 1200px;
}

.content__container {
    margin: 0 auto;
    width: 1200px;
}

.news__wrap {
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
}

.news {
    width: 30%;
}
