@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.headerMain {
    background: #051d42;
    width: 100%;
    position: fixed;
    z-index: 10;

    // box-shadow: 5px 5px 10px #d2d2d2;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 80px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__title {
    font-size: 20px;
    color: #f9f9f9;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
}
.headerMain__logo {
    // padding: 5px 20px;
    // background-color: #f9f9f9;
    border-radius: 15px 0 15px 0;
    height: fit-content;
}
.headerMain__logo__img {
    position: relative;
    top: -6px;
    height: 50px;
}

.nav__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.headerMain__nav {
    transition: all 0.3s ease-in-out;
}
.headerMain__nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    li {
        list-style-type: none;
    }
}

.headerMain__nav__link {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: inherit;
    font-style: inherit;
    font-size: 16px;
    &:hover {
        cursor: pointer;
    }
}

.headerMain__lang {
    display: flex;
    button {
        width: 28px;
        height: 28px;
        border: none;
        background: none;
        border-radius: 5px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Roboto", sans-serif;
        transition: all 300ms;
        padding: 0;
        &:last-child {
            margin-left: 8px;
        }
        &:hover {
            cursor: pointer;
            background-color: rgb(182, 182, 248, 0.3);
        }
        &.active {
            background-color: rgb(182, 182, 248, 0.3);
        }
    }
}

.burger__icon {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.burger__icon.active {
    .burger__icon__line {
        width: 34px;
    }
    .burger__icon__line.first {
        top: 10px;
        transform: rotate(45deg);
    }
    .burger__icon__line.second {
        display: none;
    }
    .burger__icon__line.third {
        top: 10px;
        transform: rotate(-45deg);
    }
}

.burger__icon__line {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.3s ease-in-out;
}

.burger__icon__line.first {
    top: 0px;
}
.burger__icon__line.second {
    top: 10px;
}
.burger__icon__line.third {
    top: 20px;
}

@media (max-width: 1200px) {
    .header__container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 0 10px;
    }

    .logo__title {
        font-size: 18px;
    }

    .headerMain__nav {
        margin-top: 10px;
        background: #051d42;
        height: 0px;
        overflow: hidden;
        position: absolute;
        top: 30px;
        right: 80px;
        width: 150px;
        transition: all 0.3s ease-in-out;
        &.active {
            height: 150px;
        }
    }

    .headerMain__nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .burger__icon {
        display: block;
    }
}

@media (max-width: 480px) {
    .logo__title {
        display: none;
    }
}
