.slider {
    width: 770px;
    height: 420px;
    position: relative;
    box-shadow: 0px 0px 7px rgb(255, 255, 255, 0.5);
    border-radius: 15px;
}

.carousel {
    width: 770px;
    height: 420px;
    border-radius: 15px;
    overflow: hidden;
}

.carousel__container {
    display: flex;
}

.carousel__container__item {
    transition: transform 300ms ease-in-out;
    img {
        width: 770px;
        height: 420px;
    }
}

.carousel__btns {
    position: absolute;
    display: flex;
    gap: 40px;
    z-index: 2;
    right: 30px;
    bottom: 30px;
}

.carousel__btn__left,
.carousel__btn__right {
    top: 250px;
    display: block;
    width: 64px;
    height: 64px;
    border: 1px rgb(255, 255, 255, 0.5) solid;
    background: none;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotate(45deg);
    border-radius: 8px;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        border: 1px rgb(255, 255, 255, 0.9) solid;
    }
}

.carousel__btn__left {
    left: 0px;
    svg {
        transform: rotate(-45deg);
    }
}

.carousel__btn__left.disable {
    opacity: 0.7;
    &:hover {
        cursor: auto;
        border: 1px rgb(255, 255, 255, 0.4) solid;
    }
}
.carousel__btn__right.disable {
    opacity: 0.7;
    &:hover {
        cursor: auto;
        border: 1px rgb(255, 255, 255, 0.4) solid;
    }
}

.carousel__btn__right {
    right: 0px;
    svg {
        transform: rotate(135deg);
    }
}

.carousel__dotes {
    position: absolute;
    left: 100px;
    bottom: 55px;
    z-index: 2;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.carousel__dotes__item {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
        cursor: pointer;
    }
}
.carousel__dotes__item.active {
    background-color: rgb(5, 29, 66, 0.6);
}

@media (max-width: 1200px) {
    .slider {
        width: 700px;
        height: 380px;
    }

    .carousel {
        width: 700px;
        height: 380px;
    }

    .carousel__container__item {
        img {
            width: 700px;
            height: 380px;
        }
    }
}

@media (max-width: 768px) {
    .slider {
        width: 460px;
        height: 250px;
    }

    .carousel {
        width: 460px;
        height: 250px;
    }

    .carousel__container__item {
        img {
            width: 460px;
            height: 250px;
        }
    }

    .carousel__btn__left,
    .carousel__btn__right {
        width: 50px;
        height: 50px;
    }

    .carousel__dotes {
        left: 50px;
        bottom: 50px;
        width: 110px;
    }
    
    .carousel__dotes__item {
        width: 5px;
        height: 7px;
        border-radius: 50%;
        
    }

}

@media (max-width: 480px) {
    .slider {
        width: 300px;
        height: 160px;
    }

    .carousel {
        width: 300px;
        height: 160px;
    }

    .carousel__container__item {
        img {
            width: 300px;
            height: 160px;
        }
    }

    .carousel__btns {
        bottom: 20px; 
    }
   


    .carousel__btn__left,
    .carousel__btn__right {
        width: 44px;
        height: 44px;
    }

    .carousel__dotes {
        left: 20px;
        bottom: 40px;
        width: 100px;
    }
    
    .carousel__dotes__item {
        width: 5px;
        height: 7px;
        border-radius: 50%;
        
    }
}
