.slider {
    margin: 0px auto;
    width: 1200px;
    height: 500px;
    padding-top: 80px;
    position: relative;
}

.carousel {
    width: 1200px;
    height: 500px;
    overflow: hidden;
}

.carousel__container {
    display: flex;
}

.carousel__container__item {
    transition: transform 300ms ease-in-out;
    img {
        width: 1200px;
        height: 500px;
    }
}

.carousel__btn__left,
.carousel__btn__right {
    position: absolute;
    top: 250px;
    z-index: 10;
    &:hover {
        cursor: pointer;
    }
}

.carousel__btn__left {
    left: 0px;
}
.carousel__btn__right {
    right: 0px;
}

.carousel__dotes {
    position: absolute;
    left: 45%;
    bottom: 10px;
    z-index: 10;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.carousel__dotes__item {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: rgb(89, 89, 89);
    }
}
