.engineWidget {
    position: relative;
    width: 250px;
    height: 180px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, 0.3);
    }

    .engineWidget__header {
        padding: 0;
        margin: 15px 0 0;
        color: white;
        font-size: 20px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
    }

    .engineWidget__img {
        position: absolute;
        z-index: -1;
        margin-top: 20px;
        width: 190px;
        opacity: 0.4;
    }

}